# Planka Configuration
PLANKA_BASE_URL=https://urlplanka.com
PLANKA_AGENT_EMAIL=user@domain.es
PLANKA_AGENT_PASSWORD=your_secure_pwd
PLANKA_PORT=1337
PLANKA_IGNORE_SSL=true # set to false if you have a valid SSL certificate

